<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.karthiksharma.myapplication" >

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />


    <!--
 To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".FirstActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivityT"
            android:label="MyApplication" >
        </activity>
        <activity
            android:name=".LoginActivityS"
            android:label="MyApplication" >
        </activity>
        <activity
            android:name=".RegistrationT"
            android:label="MyApplication" >
        </activity>
        <activity
            android:name=".registration_s"
            android:label="@string/title_activity_registration_s" >
        </activity>
        <activity
            android:name=".Alert_Register"
            android:label="@string/title_activity_alert__register" >
        </activity>
    </application>

</manifest>
